Decision Tree Classification

In [ ]:
#flowchart = akış diagramları kullanılır.
#supervised Learing konsepti kapsamındadır.
#sınıflandırma ve gruplama var
#akış diagramı oluşturur ve en altta leafler var genel kara yani

In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

df=pd.read_csv("DecisionTreesClassificationDataSet.csv")

In [2]:
df.head()

   Deneyim Yili SuanCalisiyor?  ...  StajBizdeYaptimi? IseAlindi
0            11              Y  ...                  N         Y
1             0              N  ...                  Y         Y
2             5              Y  ...                  Y         Y
3             3              N  ...                  Y         Y
4             0              N  ...                  N         N

[5 rows x 7 columns]

scikit-learn kütüphanesi decision tree'lerin düzgün çalışması için herşeyin rakamsal olması bekliyor bu nedenle veri setimizdeki tüm Y ve N değerlerini 0 ve 1 olarak düzelticeğiz. Aynı sebeple eğitim seviyesini de BS:0 MS:1 ve PhD:2 olarak güncelliyoruz. map() kullanarak boş hücreler veya geçersiz değer girilen hücreler NaN ile doldurulacaktır, buna şuandaki veri setimizde ihtiyacımız tyok ama sizin ilerde yoğun veri ile çalıştığımız zaman ihtiyacınız olacaktır.

In [3]:
duzeltme_mapping={'Y':1, 'N':0}

df['IseAlindi']=df["IseAlindi"].map(duzeltme_mapping)
df['SuanCalisiyor?']=df['SuanCalisiyor?'].map(duzeltme_mapping)
df['Top10 Universite?']=df['Top10 Universite?'].map(duzeltme_mapping)
df['StajBizdeYaptimi?']=df['StajBizdeYaptimi?'].map(duzeltme_mapping)

duzeltme_mapping2={'BS':0, 'MS':1, 'PhD':2}
df['Egitim Seviyesi']=df['Egitim Seviyesi'].map(duzeltme_mapping2)
df.head()

   Deneyim Yili  SuanCalisiyor?  ...  StajBizdeYaptimi?  IseAlindi
0            11               1  ...                  0          1
1             0               0  ...                  1          1
2             5               1  ...                  1          1
3             3               0  ...                  1          1
4             0               0  ...                  0          0

[5 rows x 7 columns]

Sonuç sütünunu ayırıyoruz

In [4]:
y=df['IseAlindi']
X=df.drop('IseAlindi', axis=1)

In [5]:
X.head()

   Deneyim Yili  SuanCalisiyor?  ...  Top10 Universite?  StajBizdeYaptimi?
0            11               1  ...                  0                  0
1             0               0  ...                  1                  1
2             5               1  ...                  0                  1
3             3               0  ...                  0                  1
4             0               0  ...                  0                  0

[5 rows x 6 columns]

In [6]:
clf=tree.DecisionTreeClassifier()
clf=clf.fit(X,y)

In [7]:
#prediction yapalım şimdi
#5 yıl deneyimli , halihazırda bir yerde çalışan ve 3 eski şirkette çalışmış olan, eğitim seviyesi lisans
#top-tier-school mezunu değil
print(clf.predict([[5,1,3,0,0,0]]))

[1]

C:\Users\Ayşe Paycı\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [ ]:
#toplam 2 yıllık iş deneyimi, 7 kez iş değiştirmis çok iyi bir okul mezunu şuan çalışmıyor
print(clf.predict([[2,0,7,0,1,0]]))

[0]

C:\Users\Ayşe Paycı\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [ ]:
#toplam 2 yıllık iş deneyimi, 7 kez iş değiştirmis çok iyi bir okul mezunu şuan çalışıyor
print(clf.predict([[2,1,7,0,0,0]]))

[1]

C:\Users\Ayşe Paycı\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [11]:
#Toplam 20 yıllık iş deneyimi, 5 kez iş değiştirmiş iyi bir okul mezunu şuan çalışmıyor
print(clf.predict([[20,0,5,1,1,1]]))

[1]

C:\Users\Ayşe Paycı\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(