Emlak fiyatlarını yapay zeka kullanrak tahmin etme

In [ ]:
"""
Linear regression
Y=a+bX
Multiple Linear regression
y=a+b1X1+b2X2+b3X3+...

Biz python'a örnek veri setimizi verdiğimizde python bizim için a ve b(i) değerlerini hesaplar ve yeni X değerlerimizi için Y'yi bize hesaplayıp sonuç olarak verir.
"""

In [ ]:
"""
Multile Linear Regression'da birden fazla bağımsız (independent) değişkene karşılık bir bağımlı(dependent) değişken bulunur.
Linear Regression veriler arasındaki var olan korelasyonu(ilişkiyi) kullanarak yeni gelecek verilerde tahmin etme modelidir.
Burada makine öğrenme bize veriler arasındaki bu ilişkiyi belirlemem,ze yardımcı olur ve bu sayede yeni verileri tahmin ederbiliriz"""

''

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
#sklearn library
from sklearn import linear_model

#veri setimizi import ediyoruz , ayraç olarak noktalı virgül olduğu için bunu belirtiyoruz:
df=pd.read_csv("multilinearregression.csv", sep=';')

In [2]:
#veri setimizi görelim ve doğru import ettiğimizi kontrol edelim:
df

   alan  odasayisi  binayasi   fiyat
0   180          5        10  510000
1   225          4        18  508000
2   260          3         2  548000
3   320          6        10  650000
4   335          4         9  628000
5   345          5        14  632000
6   355          3         0  680000
7   400          4        10  725000

In [ ]:
df[['alan','odasayisi','binayasi']]

   alan  odasayisi  binayasi
0   180          5        10
1   225          4        18
2   260          3         2
3   320          6        10
4   335          4         9
5   345          5        14
6   355          3         0
7   400          4        10

In [ ]:
#linear regression modeli tanımlıyoruz:
reg=linear_model.LinearRegression()
#modelimizi fit ediyoruz, yani modelimizi verilerimizle eğitiyoruz.
#Alan, oda sayısı ve bina yaşı bağımsız değişkenlerimiz, fiyat ise bağımlı değişkenimiz.
#Fiyat bağımlı değişkenimiz.
reg.fit(df[['alan','odasayisi','binayasi']], df['fiyat'])

#pretiction yapalım..
#Örneğin 230 m2, 4 odalı ve 10 yaşındaki bir evin fiyatını tahmin edelim.
#reg.predict() fonksiyonu ile tahmin yapıyoruz.
#Burada [[230,4,10]] yeni verimizdir. Yani 230 m2, 4 odalı ve 10 yaşındaki bir evin fiyatını tahmin ediyoruz.
reg.predict([[230,4,10]])

C:\Users\Ayşe Paycı\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([530243.29284619])

In [ ]:
reg.predict([[230,6,0]])

C:\Users\Ayşe Paycı\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([586097.7833456])

In [ ]:
#reg.coef_ ile modelimizin katsayılarını alıyoruz.
#Bu katsayılar, bağımsız değişkenlerin bağımlı değişken üzerindeki etkisini gösterir.
#Örneğin, alanın katsayısı 1000 ise, alan her 1 m2 arttığında fiyatın 1000 TL artacağını gösterir.
reg.coef_

array([ 1018.99865454, 14893.82374984, -2606.68429997])

In [7]:
reg.intercept_
#reg.intercept_ ile modelimizin kesişim noktasını alıyoruz.
#Bu, bağımsız değişkenlerin tümü sıfır olduğunda bağımlı değişkenin değerini gösterir.
#Örneğin, eğer alan, oda sayısı ve bina yaşı sıfır ise fiyatın ne olacağını gösterir.

262365.1503032055

In [8]:
#Multiple Linear regression formülümüze dönersek hatırlayalım:
#y=a+b1X1+b2X2+b3X3+... formülümüdü

a=reg.intercept_
b1=reg.coef_[0]
b2=reg.coef_[1]
b3=reg.coef_[2]
#Örneğin, 230 m2, 4 odalı ve 10 yaşındaki bir evin fiyatını tahmin edelim.
X1=230
X2=4
X3=10
#Şimdi bu değerleri formülümüze yerleştirelim:
y=a+b1*X1+b2*X2+b3*X3
#Bu hesaplamayı yapalım:
y

530243.2928461881

Jupyter Notebook Python Uyarı/Warning Mesajlarını Kapatmak için Kodunuzun en başına aşağıdaki iki satırı yazmalısınız:

In [9]:
import warnings
warnings.filterwarnings('ignore')